<template lang="html">
    <main>
        <shelf-header></shelf-header>
        <section class="row align-center">
            <div class="columns small-11 medium-9">
                <h3>Add new book to {{originalTotal}} </h3>
                <p>Search for a book here:</p>
                <input type="text" v-model="query" placeholder="Search a book ">
            </div>
            <div v-if="totalBooks > 0" class="columns small-11 medium-9">
                <single-book
                    :books="list"
                    :pagination="false"
                    :start-index="startIndex"
                    :original-list="originalList"
                ></single-book>
                <nav class="text-center">
                    <a class="page" v-if="startIndex != 0" href="#" @click="paginate('down')">&laquo; Previous</a>
                    <a class="page" href="#" @click="paginate('up')">Next &raquo;</a>
                </nav>
            </div>
            <div v-if="totalBooks < 0" class="columns small-11 medium-9">
                <h4><em>Loading...</em></h4>
            </div>
        </section>
    </main>
</template>

<script>
    /* eslint-disable */
    import ShelfHeader from '../partials/ShelfHeader'; // show the header
    import SingleBook from '../partials/SingleBook';
    //import lodash from 'lodash'; //lodash to manipulate arrays, debouce function
    export default {
        name: 'Admin',
        components: {
            ShelfHeader,
            SingleBook
        },

        watch: {
            query: function(){
                this.debouncedGetList();
            }
        },

        computed: {
            originalList: {
                get: function() {
                    return this.$store.state.books;
                },
                set: function(newValue){
                    this.$store.dispatch('setBook', newValue);
                }
            },
            originalTotal: {
                get: function() {
                    //console.log(this.$store.state.totalBooks);
                    return this.$store.state.totalBooks;
                },
                set: function(newValue){
                    this.$store.dispatch('setBookTotal', newValue);
                }
            },
        },

        created () {
            this.debouncedGetList = _.debounce(this.search, 800)
        },

        data () {
            return {
                query: '',
                list: '',
                totalBooks: 0,
                startIndex: 0,
                endIndex:0,
                bookPerPage: 40,
            }
        },

        methods: {
            search: function() {
                let $this = this;
                if( this.query !='' ) {
                    this.totalBooks = -1;
                    this.$axios.get('https://www.googleapis.com/books/v1/volumes?q='+$this.query+'&maxResults='+$this.bookPerPage+'&startIndex='+$this.startIndex)
                                .then(function(response){
                                    var data = response.data;
                                    if( data.totalItems > 0 ) {
                                        $this.list = data.items;
                                        $this.totalBooks = $this.list.length;
                                    }else{
                                        this.totalBooks = 0;
                                    }
                    });
                }else {
                    this.totalBooks = 0;
                }

            },

            paginate: function(direction) {
                if( direction == 'up' ){
                    this.startIndex += this.bookPerPage;
                }else if (direction == 'down') {
                    this.startIndex -= this.bookPerPage;
                }

                this.search();
            }
        },

    }
</script>

<style lang="css">
</style>
