<template lang="html">
  <section>
      <shelf-header></shelf-header>
      <div class="row">
          <div class="column small-11 medium-8">
              <h3>Login</h3>
              <form class="">
                  <input type="text" name="username" v-model="username" placeholder="Username" required>
                  <p class="help-text" v-if="error.username">{{error.message}}</p>
                  <input type="password" name="password" v-model="password" placeholder="Password" required>
                  <p class="help-text" v-if="error.password">{{error.message}}</p>
                  <button type="submit" class="button button-primary" @click="login">Login</button>
                   <p class="help-text" v-if="error.wrong != ''">{{error.wrong}}</p>
              </form>
          </div>
      </div>
  </section>
</template>

<script>
import ShelfHeader from '../partials/ShelfHeader';
import { setCookie } from '../../../helpers/cookie';
export default {
    name: 'Login',
    components: {
      ShelfHeader,
    },
    data() {
        return {
            'username': '',
            'password': '',
            'error':{
                'message': 'This field is required...',
                'wrong': '',
                'username': false,
                'password': false,
            }
        }
    },
    methods: {
        login: function(e){
            e.preventDefault();
            this.error.username = this.error.password = false;
            this.error.wrong = '';

            if( this.username == ''  ) this.error.username = true;
            if( this.password == ''  ) this.error.password = true;

            if( !this.error.username && !this.error.password ) {
                var $this = this;
                this.$axios.get('/static/data/users.json')
                        .then(function(response){
                            var user = response.data;

                            if ($this.username == user.username && $this.password == user.password) {
                                setCookie('loggedIn', true, 7);
                            //    $this.$router.push('/');
                               $this.$router.go($this.$route.query.redirect);
                            }else {
                                $this.error.wrong = 'Wrong login!';
                            }
                        });
                //console.log(this.$route);
            }
        }
    },

}
</script>

<style lang="css">
</style>
