<template lang="html">
    <div class="rating">
        <span v-if="rated" v-for="rating in 5"
        :class="[
            {full: rating <= rated  },
            {empty: rating - rated > 0.5 },
            {half: rating - rated == 0.5  },
            ]" >
        </span>
    </div>
</template>

<script>
/* eslint-disable */
export default {
    name: 'BookRating',
    props: {
        rated: {
            type: Number
        }
    },
    data () {
        return {
            //ratings: [1,2,3,4,5]
        }
    }
}
</script>

<style lang="css">
</style>
