<template lang="html">
    <div class="">
        <span class="category" v-for="(category, index) in categories"><em>{{category}}</em></span>&nbsp;&nbsp;
    </div>
</template>

<script>
/* eslint-disable */
export default {
    name: 'BookCategory',
    data () {
        return {}
    },
    props: {
        categories: Array,
    }
}
</script>

<style lang="css">
    .category {
        display: inline-block;
        font-size: .75em;
        margin-top: .6em;
        margin-right: .5em;
        font-weight: bold;
    }
</style>
