<template lang="html">
    <p class="book-author">
        <small>
            <span v-for="(author, index) in authors" class="author">{{author}} </span>
        </small>
        <span v-if="pageCount"><small> - {{pageCount}} pages</small></span>
    </p>
</template>

<script>
/* eslint-disable */
export default {
    name: 'BookAuthor',
    props: {
        authors: Array,
        pageCount: Number
    },
    data() {
        return {}
    }
}
</script>

<style lang="css">
</style>
