<template lang="html">
    <header class="row align-center">
        <div class="column small-11 medium-8">
            <router-link :to="{ name: 'BookList' }">
                <h1>My Bookshelf</h1>
            </router-link>
        </div>
        <div class="column small-11 medium-4">
            <router-link to="/admin">
                <p><button class="button button-primary">Admin</button></p>
            </router-link>
        </div>
     </header>
</template>

<script>
export default {
    name : 'ShelfHeader',
    data(){
        return {}
    },
    props: {

    }
}
</script>

<style lang="css">
</style>
