<template lang="html">
    <div>
        <article v-for="(book,index) in books" class="row book-container"  v-if="(index >= startIndex && index < endIndex) || !pagination">
            <div class="columns small-11 medium-3 large-2 text-center" :id="'book-'+index">
                <router-link :to="'/book/'+book.id">
                    <img class="frame"
                    v-if="book.volumeInfo.imageLinks"
                    :src="book.volumeInfo.imageLinks.thumbnail" :alt="book.volumeInfo.title" width="128">
                    <img class="frame"
                    v-else
                    src="https://read.macmillan.com/wp-content/uploads/2016/04/book-cover-placeholder.png" :alt="book.volumeInfo.title" width="128">
                </router-link>
            </div>
            <div class="columns small-11 medium-9 large-10">
                <router-link :to="'/book/'+book.id">
                    <h4>
                        <span v-if="pagination">{{index + 1}}</span>
                        <span v-else>{{startIndex + index + 1}}</span>
                        . {{book.volumeInfo.title}}
                    </h4>
                    <h6 v-if="book.volumeInfo.subtitle">{{book.volumeInfo.subtitle}}</h6>
                </router-link>
                <p v-if="book.volumeInfo.publishedDate"><small>Published: {{book.volumeInfo.publishedDate}}</small></p>
                <book-author
                    :authors="book.volumeInfo.authors"
                    :pageCount="book.volumeInfo.pageCount">
                </book-author>
                <book-rating   v-bind:rated="book.volumeInfo.averageRating"></book-rating>
                <book-category v-if="book.volumeInfo.categories" :categories="book.volumeInfo.categories"></book-category>
                <div>
                    <br>
                    <button v-if="!isInList(book.id) && !pagination" class="button tiny" @click="addToList(book)">Add into Shelf</button>

                    <button v-else class="button tiny warning" @click="removeBook(book.id)">Remove</button>
                </div>
            </div>
        </article>
    </div>
</template>

<script>
import BookRating from './BookRating'; //showing rating stars for book component
import BookCategory from './BookCategory'; // showing list of categories component
import BookAuthor from './BookAuthor'; // showing list of categories component

export default {
    name: 'SingleBook',
    components: {
        BookRating,
        BookCategory,
        BookAuthor,
    },

    props: {
        books: Array,
        startIndex: Number,
        endIndex: Number,
        pagination: Boolean,
        originalList: Array,
    },

    computed: {

    },

    data() {
        return {

        }
    },

    methods: {
        isInList: function(id) {
            let pos = _.findIndex(this.originalList, function(o) { return o.id == id; });
            if ( pos > -1 ) return true;
            return false;
        },
        addToList: function(book) {
            this.$store.dispatch('addBook', book);
        },
        removeBook(bookID) {
            this.$store.dispatch('removeBook', bookID);
            console.log('in singlebook vue');
            console.log(this.originalList);
        }
    },

}
</script>

<style lang="css">
</style>
