<template lang="html">
    <main class="">
        <shelf-header></shelf-header>
        <div class="row align-center">
            <aside class="columns small-11 medium-3">
                <form>
                    <input v-model="titleQuery" type="text" size="" placeholder="Search by title">
                    <input v-model="authorQuery" type="text" size="" placeholder="Search by author">
                </form>
                <div v-if="bookCtg" class="">
                    <button v-if="chosenCtg != 'reset'" @click="filter('reset')" class="button tiny alert">All</button>
                    <span @click="filter(category)" class="button tiny category" :class="{success: category==chosenCtg}" v-for="(category, index) in bookCtg">{{category}}</span>&nbsp;&nbsp;
                </div>
            </aside>
            <div v-if="totalBooks > 0" class="columns small-11 medium-9">
                <p>Show: {{this.endIndex}}/{{this.totalBooks}}</p>
                <single-book
                    :books="books"
                    :start-index="startIndex"
                    :end-index="endIndex"
                    :pagination="true"
                ></single-book>
                <nav class="text-center">
                    <a class="page" v-if="startIndex != 0" href="#" @click="paginate('down')">&laquo; Previous</a>
                    <a class="page" v-bind:class="{active: n == currentPage }" href="#" v-for="n in totalPage" @click="paginate(n)">{{n}}</a>
                    <a class="page" v-if="endIndex < totalBooks" href="#" @click="paginate('up')">Next &raquo;</a>
                </nav>
            </div>
            <div v-else class="columns small-11 medium-9">
                <h4>{{indication}}</h4>
            </div>
        </div>
    </main>
</template>

<script>
/* eslint-disable */
import BookRating from './partials/BookRating'; //showing rating stars for book component
import BookCategory from './partials/BookCategory'; // showing list of categories component
import BookAuthor from './partials/BookAuthor'; // showing list of categories component

import SingleBook from './partials/SingleBook';

import ShelfHeader from './partials/ShelfHeader'; // show the header
//import axios from 'axios' //axios to make http request
// import lodash from 'lodash'; //lodash to manipulate arrays, debouce function
export default {
    name: 'BookList',
    components: {
        BookRating,
        ShelfHeader,
        BookCategory,
        BookAuthor,
        SingleBook
    },
    props: {},
    created () {
        console.log('created');
        document.title =   'My Bookshelf';
        /**
         * we use debounce from Lodash here, we dont want to make a search on every keyup
         * but we want to wait til user finish typing and do the search
         * _.debounce is a function from lodash library, wait for 800ms after user last typing then do the search
         */
        this.debouncedGetAnswer = _.debounce(this.search, 800)
    },
    mounted() {
        console.log('mounted');
    },
    computed: {
        books: {
            get: function() {
                //return _.sortBy(this.$store.state.books, [function(row) { return row.volumeInfo.title; }]);
                console.log('computed');
                return this.$store.state.books;
            },
            set: function(newValue){
                this.$store.dispatch('setBook', newValue);
            }
        },

        totalBooks: {
            get: function() {
                //console.log(this.$store.state.totalBooks);
                return this.$store.state.totalBooks;
            },
            set: function(newValue){
                this.$store.dispatch('setBookTotal', newValue);
            }
        },

        bookCtg: function() {
            return this.$store.getters.categories;
        },

        chosenCtg: {
            get: function() {
                return this.$store.state.chosenCtg;
            },
            set: function(newCatg) {
                this.$store.dispatch('setChosenCategory', newCatg);
            }
        },

        endIndex: function () {//auto calculate endIndex based on startIndex and book a page
            var end = this.startIndex + this.bookPerPage;
            if( end > this.totalBooks ) end = this.totalBooks;
            return end;
        },

        //auto calculate how many pages for pagination
        //based on no of books and how many books a page
        totalPage: function () {
            if( this.totalBooks <= this.bookPerPage ) return 0;
            var mod = this.totalBooks % this.bookPerPage,
                page = Math.floor(this.totalBooks / this.bookPerPage); //ground to the smaller int - e.g. 2.4 to 2 or 4.6 to 4
            if( mod > 0 ) page += 1; //make sure we add 1 more page or the rest of the list
            return page;
        },
    },
    data () {
        return {
            //books: [],
            startIndex: 0, //for pagination, tell vue where to start rendering books
            bookPerPage: 10,//how many book a page
            currentPage: 1,//the current page to make pagination hightlight
            titleQuery: '', //a model for search by title
            authorQuery: '',// a v-model for search by author
            indication: 'Loading....',// indication to show Loading at the beginning and no results
            //bookCtg: [],//the array to hold all the categories
            //chosenCtg: 'reset',//the category that was clicked by users
        }
    },

    watch: {
        titleQuery: function() { //we watch the change on the search form
            this.debouncedGetAnswer();//we called a debounced answer
        },
        authorQuery: function() { //we watch the change on the search form
            this.debouncedGetAnswer();//we called a debonced answer
        }
    },

    methods: {
         /**
          * getList
          * Make request to the bookshelf json - then sort it, apply it to this.books to render
          * Not needed anymore since the list is imported from store.js
          */
        getList: function() {
            var $this = this;
            this.$axios.get(this.url)
                .then(function(response) {
                    var data = response.data;
                    //$this.books = data.items;
                    $this.books = _.sortBy(data.items, [function(row) { return row.volumeInfo.title; }]);
                    $this.originalList = $this.books;
                    $this.totalBooks = data.totalItems;
                    $this.originalTotal = $this.totalBooks;
                    $this.getCategories();
                });
        },
        /**
        * To paginate through the book list, simply by changing value of startIndex
        * the endIndex is automatically calculated by mounted event,
        * then Vue will render the book in that range of indexes
        */
        paginate: function(direction) {
            if( direction == 'up' ){
                this.startIndex += this.bookPerPage;
            }else if (direction == 'down') {
                this.startIndex -= this.bookPerPage;
            }else {
                this.startIndex = this.bookPerPage * (direction - 1);
            }

            this.currentPage = (this.startIndex / this.bookPerPage) + 1;
        },
        /**
        * Based on queries on title and author do a search
        */
        search: function() {
            let newList = [], //an array to hold value of filtered result
                newTotal = 0,
                titleQuery = _.lowerCase(this.titleQuery),
                authorQuery = _.lowerCase(this.authorQuery);

                this.reset(); //reset everything back to normal
                this.chosenCtg = 'reset';

            if( titleQuery != '' || authorQuery != '' ) {

                newList = _.filter(this.books, function(item){
                    let title = _.lowerCase(item.volumeInfo.title),
                        author = _.lowerCase(item.volumeInfo.authors);

                    return (title.indexOf(titleQuery) !== -1 && author.indexOf(authorQuery) !== -1) ;
                });

                //console.log(newList);

                this.books = newList;
                this.totalBooks = newList.length;
                //if( this.totalBooks > 0 ) this.hightlightQuery();
            }
            if( newTotal == 0 ) this.indication = "No results!";
        },
        /**
        * collect a list of categories that is applied in each book already
        */
        getCategories: function() {
            let categories = [];
            _.forEach( this.books, function(item){
                let value = _.get(item, 'volumeInfo.categories[0]');
                if( value ) categories.push(value);
            });
            this.bookCtg = _.uniq(categories);
        },
        /**
        * filter the book list based on clicked category
        */
        filter: function(category) {

            this.reset();//reset everything back to normal
            this.chosenCtg = category;
            //this.titleQuery = this.authorQuery = '';

            if( category != 'reset' ) {
                let filteredList  = _.filter(this.books, function(item) {
                    let value = _.get(item, 'volumeInfo.categories[0]');
                    return value == category ;
                });

                this.books = filteredList;
                this.totalBooks = filteredList.length;
            }
        },

        reset: function() {
            this.startIndex = 0;//reset the start index
            this.currentPage = 1;
            this.$store.dispatch('reset');
        }
    }
}
</script>

<style lang="scss">
    .author:not(:last-child):after {
        content:"/ ";
    }
</style>
