<template lang="html">
    <main>
        <shelf-header></shelf-header>
        <article v-if="info" class="book-view row align-center">
            <div class="columns small-11 medium-3 large-2 text-center">
                <img class="frame" :src="imageLink" :alt="info.title" width="128">
            </div>
            <div class="columns small-11 medium-8">
                <h5>{{info.title}}</h5>
                <h6 v-if="info.subtitle">{{info.subtitle}}</h6>
                <book-author
                    :authors="info.authors"
                    :pageCount="info.pageCount">
                </book-author>
                <p v-if="info.publishedDate"><small>Published: {{info.publishedDate}}</small></p>
                <book-rating :rated="info.averageRating"></book-rating>
                <book-category v-if="info.categories" :categories="info.categories"></book-category>
                <p class="book-description" v-html="info.description"></p>
            </div>
        </article>
        <div v-else class="row">
            <h4 class="columns medium-offset-2">Loading...</h4>
        </div>
    </main>
</template>

<script>
/* eslint-disable */
import BookRating from './partials/BookRating';
import BookCategory from './partials/BookCategory';
import ShelfHeader from './partials/ShelfHeader';
import BookAuthor from './partials/BookAuthor';
//import axios from 'axios'
//import jinqJs from 'jinq';
export default {
    name: 'BookView',
    components: {
      BookRating,
      ShelfHeader,
      BookCategory,
      BookAuthor
    },
    computed: {
        info: function () {
            return this.book.volumeInfo;
        },
        imageLink: function() {
            if( this.book.volumeInfo.imageLinks )
                return this.book.volumeInfo.imageLinks.thumbnail;
            else return 'https://read.macmillan.com/wp-content/uploads/2016/04/book-cover-placeholder.png';
        }
    },
    data () {
        return {
            book: {},
        }
    },

    props: {
        // url: {
        //     type: String,
        //     required: true,
        // },
        //
        // list: Object,
    },
    created () {
        this.fetchInfo();
    },

    watch: {
     '$route': 'fetchInfo'
    },

    methods : {
    /*    queryBook: function() {
            var books = this.list.items,
                params = this.$route.params,
                queriedResults = [],


            queriedResults = new jinqJs().from(books)
                            .where(function(row, index){
                                 return (row.id == params.id)
                            }).select();
            this.book = queriedResults[0];

            //console.log('Info:' + this.info);

        },
    */
       fetchInfo: function() {
            var $this = this,
                params = this.$route.params;
            this.$axios.get('https://www.googleapis.com/books/v1/volumes/'+params.id)
                    .then(function(response){
                        $this.book = response.data;
                        document.title = $this.book.volumeInfo.title + ' - My Bookshelf';
                    });
        },

    },
}
</script>

<style lang="scss">
</style>
