<template>
  <div id="app">
      <router-view/>
  </div>
</template>

<script>
/* eslint-disable */
import lodash from 'lodash'; //lodash to manipulate arrays, debouce function
export default {
    name: 'App',
    data () {
        return {
            api: 'AIzaSyAPV2H7qKBzycPL05RjLbmuN4PPDWKBLmA',
            userId: '100785406093270558013',
            url: 'https://www.googleapis.com/books/v1/users/100785406093270558013/bookshelves/0/volumes?maxResults=1000&startIndex=0',
            maxResults: 1000, //get all the books - a random number
            //list: this.getList(),
        }
    },
    methods: {

    },
    components: {

    },
    mounted: function () {
        console.log('am mounted');
        this.$store.dispatch('fetchBooks');
    }

}
</script>

<style lang="scss">
    @import './assets/foundation.min.scss';
    $color-text: #222222;
    html {
          //background-color: #222222;
    }
    body {
        padding-top: 1em;
        padding-bottom: 1em;
        color:  $color-text;
    }
    a {
        color: $color-text
    }
      p {
          margin-bottom: .6rem;
      }
      .frame {
          padding: 2px;
          border: 1px solid #ccc
      }
      .page {
          display: inline-block;
          padding: 2px 8px;
          margin-right: .3em;
          margin-left: .3em;
          font-size: .8em;
          background-color: $color-text;
          color: white;
          border: 1px solid $color-text;

          &.active {
              background-color: white;
              color: $color-text;
          }
      }
      .book {
          &-container {
              margin-bottom: 1em;
          }
          &-author {
              color: #afadad;
          }

          &-description {
              font-size: .9em;
          }

          &-category {
              display: inline-block;
              padding: 1em 2em;
              font-size: .8em;
              background-color: $color-text;
          }
      }
      .rating span {
          display: inline-block;
          width: 13px;
          height: 13px;
          background: url(./assets/card-stars-sprite.png) no-repeat;

          &.half {
              background-position: 0 -13px;
          }

          &.full {
              background-position: 0 -39px
          }

          &.empty {
              background-position: 0 -26px;
          }
      }
</style>
